documentation/SOAP/api_full.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webService.cats.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CatsSoapService" targetNamespace="http://webService.cats.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webService.cats.com/" elementFormDefault="unqualified" targetNamespace="http://webService.cats.com/" version="1.0">
            <xs:element name="catsList" type="tns:catsList" />
            <xs:element name="catsListResponse" type="tns:catsListResponse" />
            <xs:element name="helloSOAP" type="tns:helloSOAP" />
            <xs:element name="helloSOAPResponse" type="tns:helloSOAPResponse" />
            <xs:complexType name="helloSOAP">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="helloSOAPResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="catsList">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="catsListResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cat" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cat">
                <xs:sequence>
                    <xs:element minOccurs="0" name="birth" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="catFoto" type="tns:catFoto" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="owner" type="xs:string" />
                    <xs:element minOccurs="0" name="weight" type="xs:double" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="catFoto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="comment" type="xs:string" />
                    <xs:element minOccurs="0" name="newname" type="xs:string" />
                    <xs:element minOccurs="0" name="oldname" type="xs:string" />
                    <xs:element name="size" type="xs:long" />
                    <xs:element minOccurs="0" name="type" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="catsList">
        <wsdl:part element="tns:catsList" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="catsListResponse">
        <wsdl:part element="tns:catsListResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="helloSOAP">
        <wsdl:part element="tns:helloSOAP" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="helloSOAPResponse">
        <wsdl:part element="tns:helloSOAPResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CatsSoapOperations">
        <wsdl:operation name="helloSOAP">
            <wsdl:input message="tns:helloSOAP" name="helloSOAP"> </wsdl:input>
            <wsdl:output message="tns:helloSOAPResponse" name="helloSOAPResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="catsList">
            <wsdl:input message="tns:catsList" name="catsList"> </wsdl:input>
            <wsdl:output message="tns:catsListResponse" name="catsListResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CatsSoapServiceSoapBinding" type="tns:CatsSoapOperations">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="helloSOAP">
            <soap:operation soapAction="helloSOAP" style="document" />
            <wsdl:input name="helloSOAP">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="helloSOAPResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="catsList">
            <soap:operation soapAction="catsList" style="document" />
            <wsdl:input name="catsList">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="catsListResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CatsSoapService">
        <wsdl:port binding="tns:CatsSoapServiceSoapBinding" name="CatsSoapServicePort">
            <soap:address location="http://localhost:8080/catswebapp/soap/api" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
